@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

/* .background {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  left: 0;
  overflow: hidden;
} */

.background span {
  width: 1vmin;
  height: 1vmin;
  border-radius: 1vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 45;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #003306;
  top: 61%;
  left: 19%;
  animation-duration: 47s;
  animation-delay: -32s;
  transform-origin: 12vw -12vh;
  box-shadow: -2vmin 0 1.1342063094305341vmin currentColor;
}
.background span:nth-child(1) {
  color: #003306;
  top: 32%;
  left: 6%;
  animation-duration: 52s;
  animation-delay: -43s;
  transform-origin: -11vw -5vh;
  box-shadow: -2vmin 0 0.9582107743188435vmin currentColor;
}
.background span:nth-child(2) {
  color: #03870c;
  top: 100%;
  left: 37%;
  animation-duration: 36s;
  animation-delay: -26s;
  transform-origin: -23vw -10vh;
  box-shadow: 2vmin 0 1.0862814897752435vmin currentColor;
}
.background span:nth-child(3) {
  color: #73e88a;
  top: 5%;
  left: 12%;
  animation-duration: 37s;
  animation-delay: -1s;
  transform-origin: 19vw 24vh;
  box-shadow: -2vmin 0 0.9947323318191421vmin currentColor;
}
.background span:nth-child(4) {
  color: #003306;
  top: 83%;
  left: 1%;
  animation-duration: 39s;
  animation-delay: -16s;
  transform-origin: 6vw -24vh;
  box-shadow: 2vmin 0 0.8846179529862215vmin currentColor;
}
.background span:nth-child(5) {
  color: #03870c;
  top: 90%;
  left: 23%;
  animation-duration: 25s;
  animation-delay: -6s;
  transform-origin: -12vw 19vh;
  box-shadow: 2vmin 0 0.7839773988254211vmin currentColor;
}
.background span:nth-child(6) {
  color: #73e88a;
  top: 68%;
  left: 11%;
  animation-duration: 30s;
  animation-delay: -37s;
  transform-origin: -12vw 0vh;
  box-shadow: -2vmin 0 1.0154244319571955vmin currentColor;
}
.background span:nth-child(7) {
  color: #03870c;
  top: 54%;
  left: 84%;
  animation-duration: 23s;
  animation-delay: -41s;
  transform-origin: 11vw 10vh;
  box-shadow: -2vmin 0 0.9553424952514127vmin currentColor;
}
.background span:nth-child(8) {
  color: #73e88a;
  top: 53%;
  left: 83%;
  animation-duration: 41s;
  animation-delay: -16s;
  transform-origin: -24vw 9vh;
  box-shadow: 2vmin 0 0.2860489672317783vmin currentColor;
}
.background span:nth-child(9) {
  color: #73e88a;
  top: 19%;
  left: 31%;
  animation-duration: 14s;
  animation-delay: -14s;
  transform-origin: -9vw -22vh;
  box-shadow: -2vmin 0 0.6894970162359721vmin currentColor;
}
