/* .App {

  width: 100%;
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1554769945-af468c934022?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
  background-position: center;
  background-attachment: fixed;
  background-color: black;
} */

.App {
  scroll-behavior: smooth;
}
